// Global styles
body {
  background-color: #222;
  color: #ddd;
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  overflow-y: hidden;
  height: 100vh;
  max-height: 100vh;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 800;
}

ul {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 32px;
}

p {
  margin-top: 12px;
  line-height: 1.5rem;
}

li {
  margin: 8px 0;
  line-height: 1.4rem;
}

// Links
a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: #ddd;
  }
}

// Layout
.app-wrapper {
  display: grid;
  grid-template-columns: 270px 1fr;
  height: 100%;

  @media (max-width: 768px) {
    // display: none;
    grid-template-columns: 1fr;

    &.open {
      display: grid;
    }
  }
}

.main-content {
  padding: 20px;
  overflow-y: scroll;
  height: calc(100% - 52px);
  display: flex;
  flex-direction: column;
  margin-top: 52px;
  padding-bottom: 600px;
}

.main-inner-content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

// Sidebar
.sidebar {
  background-color: #222;
  padding-left: 10px;
  padding-top: 70px;
  font-size: 14px;
  border-right: 1px solid #444;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    .sub-category {
      padding-left: 20px;
    }
  }
}

.sidebar-item {
  cursor: pointer;
  height: 100%;
  border-radius: 5px;

  a {
    text-decoration: none;
  }

  .sidebar-item-expand-icon {
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &:hover * {
    color: white !important;
  }
  &.active * {
    color: rgb(239, 190, 40) !important;
  }
}

// Navigation
.nav {
  li {
    line-height: 1.25rem;
  }
}

.navbar {
  a:hover * {
    fill: white;
  }

  .hamburger {
    display: none;
    background-color: #555;
    border: none;
    border-radius: 5px;
    align-items: center;
  }

  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }

    .logo {
      font-size: 12px !important;
    }
  }
}

// Components
.badge {
  background-color: #444;
  color: #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  user-select: none;

  &:hover {
    color: white;
  }
}

.label {
  fill: white;
  font-size: 16px;
  textanchor: middle;
  alignment-baseline: middle;
}

.tag {
  color: #f8f8f2;
  background-color: #44475a;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

.divider {
  margin: 40px 0;
  height: 1px;
  border-bottom: 1px solid #444;
}

.bubble {
  background-color: #303030;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.question {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;

  &:hover {
    .showAnswer {
      color: white;
    }
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.questionAnswer {
  border-radius: 5px;
  overflow: hidden;
  // border: 1px solid #444;

  p:first-of-type {
    margin: 0;
  }
}

.answer {
  padding: 14px;
  background-color: rgba(255, 255, 255, 0.05);
}

.showAnswer {
  font-size: 12px;
  cursor: pointer;
  transition: color 0.1s;
  user-select: none;
  text-wrap: nowrap;
}

// Form elements
input,
textarea {
  background-color: #444;
  border: none;
  color: #ddd;
}

// Lists
ol.selectable {
  li {
    cursor: pointer;
    transition: background-color 0.1s;

    &:hover {
      color: white;
    }
  }
}

// Utility classes
.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

// Scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 6px;

  &:hover {
    background: #666;
  }
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-corner {
  background: #222;
}

// Miscellaneous
code {
  border-radius: 5px;
  font-size: 16px;
}

#content {
  max-width: 2000px;
  margin: 0 auto;
}
